<div class="widgets">
    <div class="row">
        <div class="col-lg-12 col-md-12 pad0">
            <div class="col-md-2 col-lg-2">
                <!-- <div class="col-lg-12 col-md-12 pad0">
                    <button class="btn btn-info btn-raised btn-xs" ng-click="addGroup(Name.neName)" title="Add"><span class="glyphicon glyphicon-plus"></span></button>
                     <button class="btn btn-info btn-xs" ng-click="addGroup(Name.neName)" title="Edite"><span class="glyphicon glyphicon-edit"></span></button> 
            </div> -->
                <div class="col-lg-12 col-md-12  pad0">
                    <div class="col-lg-6 col-md-6 pad0">
                        <h2 translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.Groups">Groups:</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 pad0">
                        <button class="btn btn-info btn-pd float-r" ng-click="addToGroup()" title="Edite Group"><span class="glyphicon glyphicon-edit"></span></button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 pad0 mar-t-10 ">
                    <div class="form-group">
                        <span ng-show="noData" class="zz-lable col-lg-12 col-md-12  font-center-li mar-t-5" style="width: 90%;">No data</span>
                        <!-- <ul ng-repeat="item in items" class="mar-t-10 nav nav-pills nav-stacked">
                            <li class="zz-lable col-lg-12 col-md-12  font-center-li" style="width: 90%;"><a href=""><span ng-click="selectItem(item)" class="span-center-li ">{{item.groupName}}</span></a> </li>
                        </ul> -->
                        <div ba-panel ba-panel-class="with-scroll table-panel">
                            <div class="horizontal-scroll">
                                <form ng-submit="myForm()" name="myForm" ng-model="myForm" class="form-validation">
                                    <!-- <h3 class="with-line">基本信息</h3> -->
                                    <div class="col-md-12 col-lg-12 ">
                                        <table class="table table-hover table-bordered-m table-td">
                                            <thead>
                                                <tr class="black-muted-bg" style="height: 28px;">
                                                    <th class="align-left" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.GroupName">GROUPNAME</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in items" style="height: 28px;">
                                                    <td class="align-left selection" ng-click="selectItem(item)"><a href="" title="View details">{{item.groupName}}</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <tm-pagination conf="paginationConf"></tm-pagination>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="" ng-show="!isGroup">Please checked group</div> -->
            <div class="col-md-2 col-lg-2 pad0">
                <div class="col-lg-12 col-md-12 panel2 font-center-li" style="height: 36px;font: size 34px;;">
                    <span class="span-center-li">{{showInfo.groupName}}</span>
                </div>
                <div class="col-lg-12 col-md-12 pad0 panel2" style="background:#eefaff">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-click="device()"><a href=""><span class="fa fa-hdd-o pad0-10-5-10"></span><span class="pad0-10-5-10" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.Devices">Devices</span></a></li>
                        <li ng-click="proper()"><a href=""><span class="glyphicon glyphicon-cog pad0-10-5-10"></span><span class="pad0-10-5-10" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.Properties">Properties</span></a></li>
                        <li>
                            <a ng-click="toshow()" href=""><span class="glyphicon glyphicon-list-alt pad0-10-5-10"></span><span class="pad0-10-5-10 ng-binding" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.Maintenance">Maintenance</span>
                                <b class="fa fa-angle-right ng-scope float-r" ui-sref-active="fa-angle-down"></b>                            
                            </a>
                            <ul class="nav nav-pills nav-stacked" ng-show="child">
                                <li ng-click="FirmwaveUpdate()"><a href=""><span  style="padding-left: 50px;" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.FirmwaveUpdate">FirmwaveUpdate</span></a></li>
                                <!-- <li ng-click="restore()"><a href=""><span style="padding-left: 50px;">Backup&restore</span></a></li> -->
                                <li ng-click="reboot()"><a href=""><span style="padding-left: 50px;" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.Reboot">Reboot</span></a></li>
                                <li ng-click="recovery()"><a href=""><span style="padding-left: 50px;" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.FactoryReset">FactoryReset</span></a></li>
                                <!-- <li ng-click="source(item.id)"><a ui-sref="minitoring" ui-sref-active="active"><span style="padding-left: 50px;">Actions</span></a></li> -->
                            </ul>
                        </li>
                        <li ng-click="minitoring()"><a href=""><span class="glyphicon glyphicon-stats pad0-10-5-10"></span><span class="pad0-10-5-10" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.Minitoring">Monitoring</span></a></li>
                        <li ng-click="searchLog()"><a href=""><span class="fa fa-calendar pad0-10-5-10"></span><span class="pad0-10-5-10" translate="deviceManagement.CPEdeviceGroup.groupManagement.groupManagement.Log">Log</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 ">
                <div class="table-block" ui-view="about" ng-show="contentShow">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 pad0">
        </div>
    </div>
</div>