<div class="widgets">
    <div class="row" ng-repeat="mi in monitoringItem">
        <div class="col-lg-12 col-md-12">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-5 col-md-5">
                    <div class="col-lg-4 col-md-4 pad0"><label for="" class="zz-lable float-r">BeginTime:</label></div>
                    <div class="col-lg-6 col-md-6 pad0">
                        <wui-date format="yyyy-mm-dd hh:mm:ss" placeholder="select date" id="operationDate" btns="{'ok':'ok','now':'today'}" ng-model="mi.beginTime" style="width: 100%;">
                        </wui-date>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="col-lg-4 col-md-4 pad0"><label for="" class="zz-lable float-r">End Time:</label></div>
                    <div class="col-lg-6 col-md-6 pad0">
                        <wui-date format="yyyy-mm-dd hh:mm:ss" placeholder="select date" id="operationDate" btns="{'ok':'ok','now':'today'}" ng-model="mi.endTime" style="width: 100%;">
                        </wui-date>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <button class="btn btn-green  btn-sm btn-pd" ng-click="searchByTime(mi);"><i
                        class="fa fa-search"></i>Search</button>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 mar-t-20" style="width: 100%">
                <div class="col-lg-12 col-md-12">
                    <h1>{{mi.itemName}} </h1>
                </div>
                <div class="col-lg-12 col-md-12 mar-t-20">
                    <canvas id="{{mi.itemId}}" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>