<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <h4 class="modal-title" id="myModalLabel" style="color: #616161;" translate="Authority.safeManagement.modal.ChangePassword">Change Password</h4>
    </div>
    <form name="userForm" class="form-horizontal form-validation" class="form-control" ng-submit="submitForm()">
        <div class="modal-body">
            <div class="form">
                <form name="userForm" class="form-horizontal form-validation" ng-submit="submitForm(userForm.$valid)">
                    <div class="form-group">
                        <label for="neName" class="control-label col-md-3" translate="Authority.safeManagement.modal.UserName">User Name</label>
                        <div class="col-md-9">
                            <input class="form-control" id="neName" name="neName" type="text" ng-model="user.username" readonly="true" />
                        </div>
                    </div>

                    <!-- <div class="form-group">
                    <label for="oldPass" class="control-label col-md-3">Original Password</label>
                    <div class="col-md-9">
                        <input id="oldPass" name="oldPass" type="password" class="form-control" ng-model="user.password" required/>
                        <span style="color:red" ng-show="userForm.oldPass.$pristine">*</span>
                        <span style="color:red" ng-show="userForm.oldPass.$dirty && userForm.oldPass.$invalid">
                               <span style="color:red" ng-show="userForm.oldPass.$error.required">*Must fill</span>
                        </span>
                    </div>
                </div> -->

                    <div class="form-group">
                        <label for="neName" class="control-label col-md-3" translate="Authority.safeManagement.modal.NewPassword">New password</label>
                        <div class="col-md-9">
                            <input id="newPassword" name="newPassword" type="password" class="form-control" ng-model="user.newPassword" ng-maxlength="40" required/>
                            <span style="color:red" ng-show="userForm.neName.$pristine">*</span>
                            <span style="color:red" ng-show="userForm.neName.$dirty && userForm.neName.$invalid">
                               <span style="color:red" ng-show="userForm.neName.$error.required" translate="Authority.safeManagement.modal.NewPasswordTips">*Must fill</span>
                            </span>
                            <small class="error" ng-show="userForm.newPassword.$error.maxlength" style="color:red;" translate="Authority.safeManagement.modal.PasswordTips">*Password cannot be longer than 40 characters.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="neName" class="control-label col-md-3 pad-r-0" translate="Authority.safeManagement.modal.RepeatNewPassword">Repeat New Password</label>
                        <div class="col-md-9">
                            <input id="newPassword2" name="newPassword2" type="password" class="form-control" ng-model="user.newPassword2" ng-maxlength="40" required/>
                            <span style="color:red" ng-show="userForm.neName.$pristine">*</span>
                            <span style="color:red" ng-show="userForm.neName.$dirty && userForm.neName.$invalid">
                               <span style="color:red" ng-show="userForm.neName.$error.required" translate="Authority.safeManagement.modal.RepeatNewPasswordTips">*Must fill</span>
                            </span>
                            <small class="error" ng-show="userForm.newPassword2.$error.maxlength" style="color:red;" translate="Authority.safeManagement.modal.PasswordTips">*Password cannot be longer than 40 characters.</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="save();" translate="buttons.Save">Save</button>
        </div>
    </form>
</div>