<!-- <div class="" id="passwordAlert" ng-show="isReminder">
    <button type="button" class="close" ng-click="closeAlert();">&times;</button>
    <strong>过期啦</strong>
</div> -->


<div class="modal-content">
    <div class="modal-header">
        <!-- ng-click="close()" aria-label="Close" -->
        <button type="button" class="close" ng-click="close()">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <!-- <h4 class="modal-title" id="myModalLabel" style="color: #616161;">{{title}}</h4> -->
        <h3 class="with-line" style="font-size: 18px;padding: 0;"><i class="fa fa-exclamation-circle" style="margin-right: 5px;"></i>Remind</h3>
    </div>
    <div class="modal-body">
        <form name="userForm" ng-submit="submitForm()">
            <!-- <div ba-panel ba-panel-class="profile-page">
                <div class="panel-content"> -->
            <div class="row">
                <div class="col-md-12">
                    Your password is about to expire, please change it in time!
                </div>
                <div>
                    <button class="btn btn-info btn-with-icon btn-passwordNotice" ng-click="modifyPassword();">Yes</button>
                    <!-- <button>Cancel</button> -->
                </div>
            </div>
        </form>
        <div class="modal-footer">

            <!-- <button class="btn btn-sm btn-info" ng-click="modifyPassword();"><i class="ion-android-checkmark-circle"></i></button> -->
            <!-- </div>
            </div> -->
        </div>
    </div>
</div>