<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <h4 class="modal-title" id="myModalLabel" style="color: #616161;">{{title}}</h4>
    </div>

    <div class="modal-body">
        <form name="userForm" class="" class="form-control" ng-submit="submitForm()">
            <div class="col-lg-12 col-md-12 pad0">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="input01" class="zz-label-sm line-height-15 col-md-3">Device Name:</label>
                        <input type="text" class="zz-input-sm form-control" ng-model="modal.neName" placeholder="Please Input">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label for="input01" class="zz-label-sm line-height-15 col-md-2">Location:</label>
                        <input type="text" class="zz-input-sm form-control" ng-model="modal.neInstallplace" placeholder="Please Input">
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="inputStatus" class="zz-label-sm col-md-1">Area:</label>
                    <button class="btn btn-xxs btn-sm btn-info float-l" ng-click="searchAreaTree();">Please Select</button>
                    <input type="text" class="zz-input-sm form-control" ng-model="selectArea" placeholder="Please Input" readonly>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label class="zz-label-sm line-height-15 col-md-2">flie:</label>
                    <input type="file" id="fileUpload" ng-model="modal.file" nv-file-select="" uploader="uploader" multiple="" style="height: 28px;">
                </div>

            </div>
            <div class="col-lg-12 col-md-12 pad0 table-div-scroll">
                <!-- <table id="table"></table> -->
                <table class="table table-bordered-s">
                    <thead class="">
                        <tr class="">
                            <th>
                                <input id="flag" type="checkbox" ng-model="xx.select_all" ng-change="selectAll()"></input>
                            </th>
                            <th>No.</th>
                            <th>Device ID</th>
                            <th>Device Sub ID</th>
                            <th>Device Type</th>
                            <th>Route Address</th>
                            <th>Device Name</th>
                            <th>Device Installation Location</th>
                        </tr>
                    </thead>
                    <tbody class="sm-table-body">
                        <tr class="" ng-repeat="row in rows">
                            <td><input type="checkbox" ng-model="row.checked" ng-change="selectOne()" /></td>
                            <td>{{$index+1}}</td>
                            <td>{{row.neRepeaterid16}}</td>
                            <td>{{row.neDeviceid}}</td>
                            <td>{{row.neDevicetype.dtpName}}</td>
                            <td>{{row.neRoute}}</td>
                            <td>{{row.neName}}</td>
                            <td>{{row.neInstallplace}}</td>

                        </tr>
                    </tbody>
                </table>
                <!-- <tm-pagination conf="paginationConf"></tm-pagination> -->
            </div>

        </form>
    </div>
    <div class="clear"></div>

    <div class="modal-footer ">
        <button type="submit " class="btn btn-primary " ng-click="save(); ">Save</button>
        <button type="button " class="btn btn-primary " ng-click="close() ">Close</button>
    </div>
</div>