<div class="modal-content">
    <div class="modal-head-new-nobg modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
    </div>
    <div class="modal-body" style="padding-bottom: 5px;padding-top: 0px;">
        <uib-tabset active="$tabSetStatus.activeTab">
            <uib-tab heading="Basic Information" class="pad0">
                <div class="panel b-a">
                    <div class="panel-heading b-b b-light" style="padding: 4px 10px;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" style="cursor: pointer;">
                            DeviceInformation(query only)
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body panel-table-gd pad0">
                            <div class="">
                                <table class="table table-bordered-sm">
                                    <thead class="">
                                        <tr class="">
                                            <th>
                                                <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="input-h ng-pristine ng-untouched ng-valid ng-empty"></th>
                                            <th>Parameter Name</th>
                                            <th>Parameter Value</th>
                                            <th>Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <!-- ngRepeat: row in rows -->
                                        <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                            <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                            <td>{{row.ParameterName}}</td>
                                            <td>{{row.ParameterValue}}</td>
                                            <td>{{row.Remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel b-a">
                    <div class="panel-heading b-b b-light" style="padding: 4px 10px;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" style="cursor: pointer;">
                            Network Management Parameter(support both query and set)
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body panel-table-gd pad0">
                            <div class="">
                                <table class="table table-bordered-sm">
                                    <thead class="">
                                        <tr class="">
                                            <th>
                                                <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="ng-pristine ng-untouched ng-valid ng-empty input-h"></th>
                                            <th>Parameter Name</th>
                                            <th>Parameter Value</th>
                                            <th>Set Value</th>
                                            <th>Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <!-- ngRepeat: row in rows -->
                                        <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                            <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                            <td>{{row.ParameterName}}</td>
                                            <td>{{row.ParameterValue}}</td>
                                            <td>{{row.SetValue}}</td>
                                            <td>{{row.Remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary margin-btn btn-sm">Query</button>
                        <button type="button" class="btn btn-info margin-btn btn-sm">Set</button>
                        <button type="button" class="btn btn-blue margin-btn btn-sm">Monitoring parameter query</button>
                        <button type="button" class="btn btn-warning margin-btn btn-sm">Query Device</button>
                        <button type="button" class="btn btn-warning margin-btn btn-sm">Device Reset</button>
                        <button type="button" class="btn btn-success margin-btn btn-sm">Refresh</button>
                    </div>
                </div>
                <div class="panel b-a">
                    <div class="panel-heading b-b b-light" style="padding: 4px 10px;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" style="cursor: pointer;">
                            Network Management Parameter(support both query and set)
                            <i class="fa fa-chevron-down"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body panel-table-gd pad0">
                            <div class="">
                                <table class="table table-bordered-sm">
                                    <thead class="">
                                        <tr class="">
                                            <th>
                                                <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="ng-pristine ng-untouched ng-valid ng-empty input-h"></th>
                                            <th>ID</th>
                                            <th>Send Time</th>
                                            <th>Receive Time</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <!-- ngRepeat: row in rows -->
                                        <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                            <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                            <td>{{row.Id}}</td>
                                            <td>{{row.SendTime}}</td>
                                            <td>{{row.ReceiveTime}}</td>
                                            <td>{{row.Type}}</td>
                                            <td>{{row.Status}}</td>
                                            <td>{{row.Details}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Alarm Information" class="pad0">
                <div class="panel b-a">
                    <div class="panel-body panel-table-gd pad0">
                        <div class="">
                            <table class="table table-bordered-sm">
                                <thead class="">
                                    <tr class="">
                                        <th>
                                            <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="input-h ng-pristine ng-untouched ng-valid ng-empty"></th>
                                        <th>Alarm Name</th>
                                        <th>Alarm Status</th>
                                        <th>Alarm Enable</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <!-- ngRepeat: row in rows -->
                                    <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                        <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                        <td>{{row.AlarmName}}</td>
                                        <td>{{row.AlarmStatus}}</td>
                                        <td>{{row.AlarmEnable}}</td>
                                        <td>{{row.Remark}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary margin-btn btn-sm">Query</button>
                    <button type="button" class="btn btn-info margin-btn btn-sm">Set</button>
                    <button type="button" class="btn btn-blue margin-btn btn-sm">Monitoring parameter query</button>
                    <button type="button" class="btn btn-warning margin-btn btn-sm">Query Device</button>
                    <button type="button" class="btn btn-warning margin-btn btn-sm">Device Reset</button>
                    <button type="button" class="btn btn-success margin-btn btn-sm">Refresh</button>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body panel-table-gd pad0">
                        <div class="">
                            <table class="table table-bordered-sm">
                                <thead class="">
                                    <tr class="">
                                        <th>
                                            <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="ng-pristine ng-untouched ng-valid ng-empty input-h"></th>
                                        <th>ID</th>
                                        <th>Send Time</th>
                                        <th>Receive Time</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <!-- ngRepeat: row in rows -->
                                    <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                        <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                        <td>{{row.Id}}</td>
                                        <td>{{row.SendTime}}</td>
                                        <td>{{row.ReceiveTime}}</td>
                                        <td>{{row.Type}}</td>
                                        <td>{{row.Status}}</td>
                                        <td>{{row.Details}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Radiofrequency Information" class="pad0">
                <div class="panel b-a">
                    <div class="panel-heading b-b b-light" style="padding: 4px 10px;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" style="cursor: pointer;">
                            DeviceInformation(query only)
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body panel-table-gd pad0">
                            <div class="">
                                <table class="table table-bordered-sm">
                                    <thead class="">
                                        <tr class="">
                                            <th>
                                                <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="input-h ng-pristine ng-untouched ng-valid ng-empty"></th>
                                            <th>Parameter Name</th>
                                            <th>Parameter Value</th>
                                            <th>Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <!-- ngRepeat: row in rows -->
                                        <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                            <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                            <td>{{row.ParameterName}}</td>
                                            <td>{{row.ParameterValue}}</td>
                                            <td>{{row.Remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel b-a">
                    <div class="panel-heading b-b b-light" style="padding: 4px 10px;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" style="cursor: pointer;">
                            Network Management Parameter(support both query and set)
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body panel-table-gd pad0">
                            <div class="">
                                <table class="table table-bordered-sm">
                                    <thead class="">
                                        <tr class="">
                                            <th>
                                                <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="ng-pristine ng-untouched ng-valid ng-empty input-h"></th>
                                            <th>Parameter Name</th>
                                            <th>Parameter Value</th>
                                            <th>Set Value</th>
                                            <th>Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <!-- ngRepeat: row in rows -->
                                        <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                            <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                            <td>{{row.ParameterName}}</td>
                                            <td>{{row.ParameterValue}}</td>
                                            <td>{{row.SetValue}}</td>
                                            <td>{{row.Remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary margin-btn btn-sm">Query</button>
                        <button type="button" class="btn btn-info margin-btn btn-sm">Set</button>
                        <button type="button" class="btn btn-blue margin-btn btn-sm">Monitoring parameter query</button>
                        <button type="button" class="btn btn-warning margin-btn btn-sm">Query Device</button>
                        <button type="button" class="btn btn-warning margin-btn btn-sm">Device Reset</button>
                        <button type="button" class="btn btn-success margin-btn btn-sm">Refresh</button>
                    </div>
                </div>
                <div class="panel b-a">
                    <div class="panel-heading b-b b-light" style="padding: 4px 10px;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" style="cursor: pointer;">
                            Network Management Parameter(support both query and set)
                            <i class="fa fa-chevron-down"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body panel-table-gd pad0">
                            <div class="">
                                <table class="table table-bordered-sm">
                                    <thead class="">
                                        <tr class="">
                                            <th>
                                                <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="ng-pristine ng-untouched ng-valid ng-empty input-h"></th>
                                            <th>ID</th>
                                            <th>Send Time</th>
                                            <th>Receive Time</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        <!-- ngRepeat: row in rows -->
                                        <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                            <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                            <td>{{row.Id}}</td>
                                            <td>{{row.SendTime}}</td>
                                            <td>{{row.ReceiveTime}}</td>
                                            <td>{{row.Type}}</td>
                                            <td>{{row.Status}}</td>
                                            <td>{{row.Details}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Topological Graph" class="pad0">
                <div class="panel b-a">
                    <div class="panel-body panel-table-gd pad0">
                        <div class="">
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body panel-table-gd pad0">
                        <div class="">
                            <table class="table table-bordered-sm">
                                <thead class="">
                                    <tr class="">
                                        <th>
                                            <input type="checkbox" ng-model="selectAll" ng-change="changeAll()" class="ng-pristine ng-untouched ng-valid ng-empty input-h"></th>
                                        <th>ID</th>
                                        <th>Send Time</th>
                                        <th>Receive Time</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <!-- ngRepeat: row in rows -->
                                    <tr class="" ng-repeat="row in rows" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
                                        <td><input class="input-h" type="checkbox" ng-model="row.checked" ng-click="changeCurrent(row, $event)" /></td>
                                        <td>{{row.Id}}</td>
                                        <td>{{row.SendTime}}</td>
                                        <td>{{row.ReceiveTime}}</td>
                                        <td>{{row.Type}}</td>
                                        <td>{{row.Status}}</td>
                                        <td>{{row.Details}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div> -->
</div>