<div class="widgets">
    <div class="col-md-12 col-lg-12">
        <!--BEGIN TABS-->
        <!-- <ul class="nav nav-tabs tabqhul" ng-init="vm.activeTab=0">
            <li class="tabqh" ng-class="{true:'item_on',flase:'item'}[vm.activeTab==$index]" ng-repeat="item in ['周期','手动']" ng-click="vm.activeTab = $index" style="cursor:pointer; width:60px;"><a href="">{{item}}</a></li>
        </ul> -->
        <ul class="bg-none safe-tab-ul nav-tabs">
            <li class="safe-tab-li active">
                <a href="#zz" class="bg-none" data-toggle="tab" style="display: block;">
                    <h3 class="safe-line"><i class="fa fa-circle-o safe-line-i"></i>Automatic</h3>
                </a>
            </li>
            <li class="safe-tab-li">
                <a href="#ss" class="bg-none" data-toggle="tab" style="display: block;">
                    <h3 class="safe-line"><i class="fa fa-edit safe-line-i"></i>Manual</h3>
                </a>
            </li>
        </ul>



        <div class="tab-content tab-bordered">
            <!-- <div class="tab-panel" ng-show="vm.activeTab == 0"> -->
            <div class="tab-pane fade in active" id="zz">
                <form name="form" ng-submit="submitForm(form.$valid)" class="">
                    <div class="col-md-12 col-lg-12 col-xs-12 mar-t-10 pad0">
                        <div class="form-group">
                            <label for="input01" class="zz-label zz-label-r">Backup time:</label>
                            <span class="backup-time-lb">Week:</span>

                            <select class="zz-input col-md-3 col-lg-3 col-xs-3 pad2 form-control inline v-middle" ng-model="period.week" ng-options="week.id as week.name for week in weeks" style="width:20%;" required>
                                <option value="">--Please Select--</option>

                            </select>
                            <span class="backup-time-lb">Hour:</span>
                            <select class="zz-input col-md-3 col-lg-3 col-xs-3 pad2 form-control inline v-middle" ng-model="period.hour" ng-options="hour.id as hour.name for hour in hours" style="width:20%;" required>
                                <option value="">--Please Select--</option>

                            </select>
                            <span class="backup-time-lb">Minute:</span>
                            <select class="zz-input col-md-3 col-lg-3 col-xs-3 pad2 form-control inline v-middle" ng-model="period.minute" ng-options="minute.id as minute.name for minute in minutes" style="width:20%;" required>
                                <option value="">--Please Select--</option>

                            </select>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xs-12 mar-t-10 pad0">
                        <div class="col-md-6 col-lg-6 col-xs-6 form-group pad0">
                            <label for="input01" class="zz-label zz-label-r">Backup content:</label>
                            <select class="zz-input pad2 form-control inline v-middle" ng-model="backtables" ng-options="table.tableName as table.name for table in tables" required>
                                <option value="">--Please Select--</option>

                            </select>
                        </div>
                        <!-- <div class="col-md-6 col-lg-6 col-xs-6 form-group">

                            <label class="zz-label zz-label-r">Backup location:</label>

                            <input type="text" class="zz-input form-control" data-trigger="hover" data-original-title="填写要求xxxx" ng-model="submit.path">
                        </div> -->
                    </div>
                    <div class="col-md-12 col-lg-12 col-xs-12 mar-t-10 pad0">
                        <div class="form-group">
                            <label class="zz-label zz-label-r">Backup mode</label>
                            <div class="col-lg-3 col-md-6 form-group" style="line-height: 26px;">
                                <label for="" class="">Hot standby or not:</label>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" ng-model="submit.onlineBack" style="margin: 0;vertical-align: middle;">
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-6 form-group" style="line-height: 26px;">
                                <label for="" class="">Incremental backup or not:</label>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" ng-model="submit.binlogBack" style="margin: 0;vertical-align: middle;">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 pad0 mar-t-10">
                        <button-permission ng-model="permissions" nowUrl={{absUrl}}></button-permission>


                        <!-- <button type="submit" class="btn btn-sm btn-info">Determine</button>

                        <button type="button" class="btn btn-sm btn-reset">Cancel</button> -->

                    </div>

                </form>
            </div>
            <!-- <div class="tab-panel" ng-show="vm.activeTab == 1"> -->
            <div class="tab-pane fade" id="ss">
                <form action="#" class="">

                    <div class="col-md-12 col-lg-12 col-xs-12 pad0 mar-t-10">
                        <div class="col-md-6 col-lg-6 col-xs-6 form-group pad0">
                            <label class="zz-label zz-label-r">Backup time:</label>
                            <div class="col-md-8 col-lg-4 pad0">
                                <wui-date format="yyyy-mm-dd hh:mm:ss" placeholder="" id="beginTime" btns="{'ok':'ok','now':'today'}" ng-model="submit.backtime">
                                </wui-date>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-6 form-group pad0">
                            <label for="input01" class="zz-label zz-label-r">Backup content:</label>
                            <select class="zz-input pad2 form-control inline v-middle" ng-model="backtables" ng-options="table.tableName as table.name for table in tables" required>
                                <option value="">--Please Select--</option>

                            </select>
                        </div>

                    </div>

                    <div class="col-md-12 col-lg-12 col-xs-12 mar-t-10 pad0">
                        <div class="col-md-6 col-lg-6 col-xs-6 form-group pad0">

                            <label class="zz-label zz-label-r">Backup location:</label>
                            <input type="text" class="zz-input form-control" data-trigger="hover" data-original-title="填写要求xxxx" ng-model="submit.path">
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-xs-6 pad0" style="line-height: 28px;">
                            <label class="zz-label zz-label-r" style="margin: 0;">Backup mode:</label>
                            <div class="col-lg-5 col-md-6 form-group">
                                <label for="" class="">Hot standby or not:</label>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" style="margin: 0;vertical-align: middle;" ng-model="submit.onlineBack">
                                </label>
                            </div>
                            <div class="col-lg-5 col-md-6 form-group">
                                <label for="" class="">Incremental backup or not:</label>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" style="margin: 0;vertical-align: middle;" ng-model="submit.binlogBack">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 pad0 mar-t-10">

                        <button type="submit" ng_click="hmSubmit()" class="btn btn-sm btn-info">Determine</button>

                        <button type="button" ng_click="download();" class="btn btn-sm btn-reset">Cancel</button>

                    </div>

                </form>
            </div>

        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>