<div class="widgets">
    <input required="required" class="re-input" type="file" id="fileInput" file-model="myFile" />
    <div class="btn-group">


        <!-- <button id="sample_editable_1_new" class="btn btn-sm btn-green" ng-click="importBinlog()">

        Import recovery<i class="icon-plus"></i>

        </button> -->
        <button-permission ng-model="permissions" nowUrl={{absUrl}}></button-permission>



    </div>

    <div class="col-md-12 col-lg-12 pad0">
        <div ba-panel ba-panel-class="with-scroll table-panel">
            <div class="horizontal-scroll" style="overflow-x:scroll;overflow-y:scroll;">
                <table class="table table-hover table-bordered-m">
                    <thead>
                        <tr class="black-muted-bg">
                            <th width="3%">
                                <input id="flag" type="checkbox" ng-model="checkbox.select_all" ng-change="selectAll()"></input>
                            </th>
                            <!-- <th>dtpClassifyid
                                        <my-Order query="query" search="search()" order-name='dtpClassifyid'></my-Order>
                                    </th> -->
                            <th>Backup filename
                                <my-Order query="query" search="search()" order-name='dtpDevicetypeid'></my-Order>
                            </th>
                            <th>route
                                <my-Order query="query" search="search()" order-name='dtpName'></my-Order>
                            </th>
                            <th>Backup time
                                <my-Order query="query" search="search()" order-name='dtpProtocoldevicetypeid'></my-Order>
                            </th>
                            <th>-</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items | orderBy:order">
                            <td>
                                <input type="checkbox" ng-model="item.checked" ng-change="selectOne()" />
                            </td>
                            <!-- <td>{{item.dtpClassifyid}}</td> -->
                            <td>{{item.backupName}}</td>
                            <td>{{item.backupPath}}</td>
                            <td>{{item.backupTimes}}</td>
                            <td><a href="" ng-click="dbLoad(item.id);">reduction</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
</div>