<!-- <div class="flyover" ng-show="loading">
    <div class="mask"></div>
    <div class="alert alert-info">
        <strong>Loading Foo...</strong>
    </div>
</div> -->
<div style="top: 40%;
    left: 50%;
    position: fixed;
            z-index: 9999;" ng-show="loading">
    <div class="loader" style="top: 50%;">
        <div class="loader-inner ball-spin-fade-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>