<div class="widgets">
    <div class="mar0 row">
        <div class="col-lg-12 col-md-12 pad0">
            <div class="pad2 form-group col-lg-3 col-md-12 mar-b-0">
                <label for="input01" class="zz-label zz-label-r" translate="LogManagement.SystemLog.searchCondition.UserName">User Name:</label>
                <input type="text" class="zz-input form-control" ng-model="query.optName" id="input01" placeholder="">
            </div>
            <div class="pad2 form-group col-lg-3 col-md-12 mar-b-0">
                <label for="input01" class="zz-label zz-label-r" translate="LogManagement.SystemLog.searchCondition.LogType">Log Type:</label>
                <!-- <select class="zz-input-sm pad2 form-control inline v-middle" ng-model="query.operationType" ng-init="query.operationType=''" ng-change="getOperationType()">

                    <option value="">--Please Select--</option>
                    <option value="0">Query</option>
                    <option value="1">Set</option>
                </select> -->
                <input type="text" class="zz-input form-control" ng-model="query.logType" id="input01" placeholder="">
            </div>
            <div class="pad2 col-lg-2 col-md-4">
                <button class="btn btn-green  btn-sm btn-pd" ng-click="search();"><i class="fa fa-search"></i><span translate="buttons.search">Search</span></button>
                <button class="btn btn-reset  btn-sm btn-pd" ng-click="reset();"><i class="fa fa-rotate-right"></i><span translate="buttons.reset">Reset</span></button>
                <!-- <button type="button" class="btn btn-primary btn-with-icon btn-pd" ng-click="exportList();"><i class="ion-android-download"></i>Export</button> -->

            </div>
        </div>
        <div class="col-md-12 col-lg-12 pad0">
            <div class="col-lg-6 col-md-10 pad2" style="margin-right: 20px;">
                <div class="col-md-8 col-lg-3 zz-label pad0" translate="LogManagement.SystemLog.searchCondition.ExecutionTime">Execution Time:</div>
                <div class="col-md-8 col-lg-4 pad0">
                    <wui-date format="yyyy-mm-dd hh:mm:ss" placeholder="Begin Time" id="startTime" btns="{'ok':'ok','now':'today'}" ng-model="query.startTime">
                    </wui-date>
                </div>
                <span class="col-lg-1 col-md-2 zz-label" translate="LogManagement.SystemLog.searchCondition.to">to</span>
                <div class="col-md-8 col-lg-4 pad0">
                    <wui-date format="yyyy-mm-dd hh:mm:ss" placeholder="End Time" id="endTime" btns="{'ok':'ok','now':'today'}" ng-model="query.endTime">
                    </wui-date>
                </div>
            </div>
            <button-permission class="pad2 col-lg-4 col-md-4" ng-model="permissions" nowUrl={{absUrl}}></button-permission>
        </div>

    </div>
    <div class="col-lg-12 col-md-12 pad0">
        <div ba-panel ba-panel-class="with-scroll table-panel">
            <div class="horizontal-scroll">
                <table class="table table-hover table-bordered-m">
                    <thead>
                        <tr class="black-muted-bg">
                            <th class="align-left">
                                <input id="flag" type="checkbox" ng-model="checkbox.select_all" ng-change="selectAll()"></input>
                            </th>
                            <th class="align-left">NO.</th>
                            <!-- <th class="align-left" translate="LogManagement.SystemLog.table.thead.ID">ID
                                <my-Order query="query" search="search()" order-name='id'></my-Order>
                            </th> -->
                            <th class="align-left" translate="LogManagement.SystemLog.table.thead.UserName">User Name
                                <my-Order query="query" search="search()" order-name='optName'></my-Order>
                            </th>
                            <th class="align-left" translate="LogManagement.SystemLog.table.thead.LogType">Log Type
                                <my-Order query="query" search="search()" order-name='logType'></my-Order>
                            </th>
                            <th class="align-left" translate="LogManagement.SystemLog.table.thead.CreateTime">Create Time
                                <my-Order query="query" search="search()" order-name='createTime'></my-Order>
                            </th>
                            <th class="align-left" translate="LogManagement.SystemLog.table.thead.ResultMessage">Result Message
                                <my-Order query="query" search="search()" order-name='resultMessage'></my-Order>
                            </th>
                            <th class="align-left" translate="LogManagement.SystemLog.table.thead.LogMessage">Log Message
                                <my-Order query="query" search="search()" order-name='logMessage'></my-Order>
                            </th>
                            <th class="align-left" translate="LogManagement.SystemLog.table.thead.IP">IP
                                <my-Order query="query" search="search()" order-name='ipAddr'></my-Order>
                            </th>
                            <th class="align-left" translate="LogManagement.SystemLog.table.thead.ClientName">Client Name
                                <my-Order query="query" search="search()" order-name='clientName'></my-Order>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items" class="no-top-border" ng-class="{'table-tr-checked':item.checked}">
                            <td>
                                <input type="checkbox" name="selected" ng-model="item.checked" ng-change="selectOne()" />
                            </td>
                            <td class="align-left" ng-class="nowrap">{{$index+1}}</td>
                            <!-- <td class="align-left">{{item.id}}</td> -->
                            <td class="align-left">{{item.optName}}</td>
                            <td class="align-left">{{item.logType}}</td>
                            <td class="align-left">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td class="align-left">{{item.resultMessage}}</td>
                            <td class="align-left">{{item.logMessage}}</td>
                            <td class="align-left">{{item.ipAddr}}</td>
                            <td class="align-left">{{item.clientName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <tm-pagination conf="paginationConf"></tm-pagination>

        </div>
    </div>
</div>