<div class="widgets">

    <div class="col-lg-12 col-md-12 pad0">
        <div class="form-group">
            <label for="input01" class="zz-label">search:</label>
            <input type="text" class="form-control zz-input float-input" id="input01" placeholder="Input dsId" style="width: 30%;" ng-model="query.dsId">

            <!-- <button type="button" class="btn btn-sm btn-success btn-raised" style="margin-bottom: 5px;" ng-click="search
                    ();">
                        <i class="fa fa-search"></i>
                    </button> -->
            <button class="btn btn-green  btn-sm btn-pd" ng-click="search();"><i class="fa fa-search"></i>Search</button>
        </div>
    </div>
    <div class="mar0 row">
        <div class="col-lg-10 col-md-10 pad0">
            <!-- <button class="btn btn-warning btn-raised btn-pd" ng-model="toModifyItem" ng-click="toModifyItem('', 'md');"><i></i>Modify</button>
                <button class="btn btn-primary btn-raised btn-pd" ng-model="toAddItem" ng-click="toAddItem('', 'md');"><i></i>Add</button>
                <button class="btn btn-danger btn-raised btn-pd" ng-model="deleteItem" ng-click="deleteItem();"><i></i>Delete</button> -->
            <button-permission ng-model="permissions" nowUrl={{absUrl}}></button-permission>

            <!--nono <button class="btn btn-danger btn-raised btn-pd" ng-model="toModifyPassword" ng-click="toModifyPassword();"><i></i>Modify Password</button> -->
            <!-- <button class="btn btn-info btn-raised btn-pd" ng-model="getTree" ng-click="getAreaTree();"><i></i>授权</button> -->

        </div>
    </div>
    <div class="col-md-12 col-lg-12 pad0" ba-panel ba-panel-class="with-scroll table-panel">
        <div class="horizontal-scroll" style="overflow-x:scroll;overflow-y:scroll;">
            <table class="table table-hover table-bordered-m">
                <thead>
                    <tr class="black-muted-bg">
                        <th width="3%">
                            <input id="flag" type="checkbox" ng-model="checkbox.select_all" ng-change="selectAll()"></input>
                        </th>
                        <th ng-click="orderFun('objActiveTypeDiv')">dsId
                            <my-Order query="query" search="search()" order-name='dsId'></my-Order>
                        </th>
                        <th ng-click="orderFun('objActivetype')">dsName
                            <my-Order query="query" search="search()" order-name='dsName'></my-Order>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items | orderBy:order">
                        <td>
                            <input type="checkbox" ng-model="item.checked" ng-change="selectOne()" />
                        </td>
                        <td>{{item.dsId}}</td>
                        <td>{{item.dsName}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>

</div>