<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <h4 class="modal-title" id="myModalLabel" style="color: #616161;">Change Password</h4>
    </div>
    <form name="userForm" class="form-horizontal" class="form-control" ng-submit="submitForm()"></form>
    <div class="modal-body">
        <div class="form">
            <form name="userForm" class="form-horizontal" ng-submit="submitForm(userForm.$valid)">
                <div class="form-group">
                    <label for="neName" class="control-label col-md-3">User Name</label>
                    <div class="col-md-9">
                        <input class="form-control" id="neName" name="neName" type="text" ng-model="user.username" readonly="true" />
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="oldPass" class="control-label col-md-3">Original Password</label>
                    <div class="col-md-9">
                        <input id="oldPass" name="oldPass" type="password" class="form-control" ng-model="user.password" required/>
                        <span style="color:red" ng-show="userForm.oldPass.$pristine">*</span>
                        <span style="color:red" ng-show="userForm.oldPass.$dirty && userForm.oldPass.$invalid">
                               <span style="color:red" ng-show="userForm.oldPass.$error.required">*Must fill</span>
                        </span>
                    </div>
                </div> -->

                <div class="form-group">
                    <label for="neName" class="control-label col-md-3">New password</label>
                    <div class="col-md-9">
                        <input id="newPassword" name="newPassword" type="password" class="form-control" ng-model="user.newPassword" required/>
                        <span style="color:red" ng-show="userForm.neName.$pristine">*</span>
                        <span style="color:red" ng-show="userForm.neName.$dirty && userForm.neName.$invalid">
                               <span style="color:red" ng-show="userForm.neName.$error.required">*Must fill</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="neName" class="control-label col-md-3 pad-r-0">Repeat New Password</label>
                    <div class="col-md-9">
                        <input id="newPassword2" name="newPassword2" type="password" class="form-control" ng-model="user.newPassword2" required/>
                        <span style="color:red" ng-show="userForm.neName.$pristine">*</span>
                        <span style="color:red" ng-show="userForm.neName.$dirty && userForm.neName.$invalid">
                               <span style="color:red" ng-show="userForm.neName.$error.required">*Must fill</span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="submit" class="btn btn-primary" ng-click="save();">Save</button>
    </div>
    </form>
</div>