<div class="modal-content">
    <div class="modal-header">
        <!-- ng-click="close()" aria-label="Close" -->
        <button type="button" class="close" ng-click="close()" ng-show="isnMustModify">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <!-- <h4 class="modal-title" id="myModalLabel" style="color: #616161;">{{title}}</h4> -->
        <h3 class="with-line" translate="header.PasswordModify.PleaseModifyPassword">Please Modify Password</h3>
    </div>
    <div class="modal-body">
        <form name="userForm" ng-submit="submitForm()">
            <!-- <div ba-panel ba-panel-class="profile-page">
                <div class="panel-content"> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group row clearfix">
                            <label for="inputFirstName" class="col-sm-3 control-label">UserName</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputFirstName" placeholder="" value="" ng-model="user.username" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row clearfix">
                            <label for="inputPassword" class="col-sm-3 control-label">Password</label>

                            <div class="col-sm-9">
                                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="" value="" ng-maxlength="40" ng-model="user.password">
                            </div>
                            <small class="error" ng-show="userForm.password.$error.maxlength" style="color:red;padding-left: 25%;" translate="header.PasswordModify.tips">
                            </small>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group row clearfix">
                            <label for="inputConfirmPassword" class="col-sm-3 control-label">New Password</label>

                            <div class="col-sm-9">
                                <input type="password" name="newpassword" class="form-control" id="inputConfirmPassword" ng-maxlength="40" placeholder="" ng-model="user.newPassword">
                            </div>
                            <small class="error" ng-show="userForm.newpassword.$error.maxlength" style="color:red;padding-left: 25%;" translate="header.PasswordModify.tips">
                            </small>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row clearfix">
                            <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

                            <div class="col-sm-9">
                                <input type="password" name="confirmpsd" class="form-control" id="inputConfirmPassword2" placeholder="" ng-maxlength="40" ng-model="user.newPassword2">
                            </div>
                            <small class="error" ng-show="userForm.confirmpsd.$error.maxlength" style="color:red;padding-left: 25%;" translate="header.PasswordModify.tips">
                            </small>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </div>
                <h3 class="with-line"></h3>
            </div> -->
        </form>
        <div class="modal-footer">
            <!-- <button type="submit" class="btn btn-primary" ng-click="save();">Save</button>
            <button type="button" class="btn btn-primary" ng-click="close();">Close</button> -->
            <!-- <div class="col-md-12"> -->
            <!-- <div class="col-offset-md-8" style="float:right;"> -->
            <button class="btn btn-sm btn-info" ng-disabled="userForm.$invalid" ng-click="modifyPassword();"><i class="ion-android-checkmark-circle"></i>ModifyPassword</button>
            <!-- </div>
            </div> -->
        </div>
    </div>
</div>