<div class="form-group map-div">
    <input type="text" class="zz-input form-control float-l" id="input01" ng-model="query.neElementName" placeholder="">
    <button class="btn btn-mapS btn-sm" ng-click="searchDevice();"><i class="fa fa-search" ng-click="search();"></i>Search</button>
</div>
<div id="map" class="map" style="height: 400px;width: 100%;position:relative;"></div>

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content" style="background-color: white;"></div>
</div>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,requestAnimationFrame,Element.prototype.classList,URL"></script>
<!-- <select id="layer-select">
       <option value="Aerial">Aerial</option>
       <option value="AerialWithLabelsOnDemand" selected>Aerial with labels</option>
       <option value="RoadOnDemand">Road</option>
       <option value="CanvasDark">Road dark</option>
       <option value="OrdnanceSurvey">Ordnance Survey</option>
     </select> -->