<div class="widgets">
    <div class="row">
        <div class="col-lg-12 col-md-12 pad0">
            <div class="row col-lg-12 col-md-12">
                <div class="col-lg-4 col-md-4">
                    <div class="pad2 form-group col-lg-12 col-md-12 mar-b-0">
                        <label for="input01" class="zz-label zz-label-r" translate="alarmManagement.ServerAlarm.SearchCondition.search">Search:</label>
                        <select class="zz-input pad2 form-control inline v-middle" ng-model="searchCondition" style="width: 30%;float: left;" ng-change="switchSearchCondition();">
                            <option value="" translate="alarmManagement.ServerAlarm.SearchCondition.PleaseSelect">--Please Select--</option>
                            <option value="1" ng-selected="searchCondition == 1" translate="alarmManagement.ServerAlarm.SearchCondition.type">Type</option>
                            <option value="2" ng-selected="searchCondition == 2" translate="alarmManagement.ServerAlarm.SearchCondition.ServerName">ServerName</option>
                            <option value="3" ng-selected="searchCondition == 3" translate="alarmManagement.ServerAlarm.SearchCondition.ServerIP">ServerIP</option>
                            <option value="4" ng-selected="searchCondition == 4" translate="alarmManagement.ServerAlarm.SearchCondition.Messages">Messages</option>
                            <!-- <option value="4" ng-selected="searchCondition == 5" translate="alarmManagement.ServerAlarm.searchCondition.AlarmTime">AlarmTime</option> -->
                        </select>
                        <input type="text" style="width:40%;" class="zz-input form-control" id="input01" placeholder="" ng-show="inputVal" ng-model="conditionValue" />
                        <!--deviceType-->
                        <select class="zz-input pad2 form-control inline v-middle" ng-model="condition.neType" ng-show="deviceTypeShow" style="width: 30%;">
                            <option value="" translate="alarmManagement.searchCondition.PleaseSelect">--Please Select--</option>
                            <option value="trap">trap</option>
                            <option value="system">system</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6 pad2">
                    <div class="col-md-8 col-lg-2 zz-label pad0" translate="alarmManagement.ServerAlarm.SearchCondition.AlarmTime">AlarmTime:</div>
                    <div class="col-md-8 col-lg-4 pad0">
                        <wui-date format="yyyy-mm-dd hh:mm:ss" placeholder="Begin Time" id="beginTime" btns="{'ok':'ok','now':'today'}" ng-model="query.startTime">
                        </wui-date>
                    </div>
                    <span class="col-lg-1 col-md-2 zz-label">to</span>
                    <div class="col-md-8 col-lg-4 pad0">
                        <wui-date format="yyyy-mm-dd hh:mm:ss" placeholder="EndTime" id="endTime" btns="{'ok':'ok','now':'today'}" ng-model="query.endTime">
                        </wui-date>
                    </div>

                </div> -->
                <div class="col-lg-2 col-md-2">
                    <button class="btn btn-green btn-sm btn-pd" ng-click="search();"><i class="fa fa-search"></i><span translate="buttons.search">Search</span></button>
                    <button class="btn btn-reset  btn-sm btn-pd" ng-click="reset();"><i class="fa fa-rotate-right"></i><span translate="buttons.reset">Reset</span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-6 col-md-6">
                        <!-- <button class="btn btn-info btn-raised btn-pd" ng-model="toAddItem" ng-click="toAddItem('', 'md');">Add</button>
                        <button class="btn btn-danger btn-raised btn-pd" ng-model="deleteItem" ng-click="deleteItem();">Delete</button>
                        <button class="btn btn-warning btn-raised btn-pd" ng-model="toModifyItem" ng-click="toModify('', 'md');">Modify</button>
                        <button class="btn btn-primary btn-raised btn-pd" ng-model="toShowItem" ng-click="toShowItem('', 'md');">View</button> -->

                        <button type="button" class="btn btn-primary btn-with-icon btn-pd" ng-click="exportList();"><i class="ion-android-download"></i>Export</button>
                        <!-- <button-permission ng-model="permissions" nowUrl={{absUrl}}></button-permission> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div ba-panel ba-panel-class="with-scroll table-panel">
                <div class="horizontal-scroll">
                    <table class="table table-hover table-bordered-m">
                        <thead>
                            <tr class="black-muted-bg">
                                <th class="align-left">
                                    <input id="flag" type="checkbox" ng-model="checkbox.select_all" ng-change="selectAll()"></input>
                                </th>
                                <th class="align-left">NO.</th>
                                <th class="align-left"><span translate="alarmManagement.ServerAlarm.table.thead.AlarmTime"></span>
                                    <my-Order query="query" search="search()" order-name='updateTime'></my-Order>
                                </th>
                                <th class="align-left"><span translate="alarmManagement.ServerAlarm.table.thead.AlarmClearTime"></span>
                                    <my-Order query="query" search="search()" order-name='clearTime'></my-Order>
                                </th>
                                <th class="align-left"><span translate="alarmManagement.ServerAlarm.table.thead.AlarmConfirmTime"></span>
                                    <my-Order query="query" search="search()" order-name='confirmTime'></my-Order>
                                </th>
                                <th class="align-left"><span translate="alarmManagement.ServerAlarm.table.thead.Messages"></span>
                                    <my-Order query="query" search="search()" order-name='msg'></my-Order>
                                </th>
                                <th class="align-left"><span translate="alarmManagement.ServerAlarm.table.thead.ServerIP"></span>
                                    <my-Order query="query" search="search()" order-name='hostIp'></my-Order>
                                </th>
                                <th class="align-left"><span translate="alarmManagement.ServerAlarm.table.thead.AlarmStatus"></span>
                                    <my-Order query="query" search="search()" order-name='alarmStatus.astAlarmStatusName'></my-Order>
                                </th>
                                <th class="align-left"><span translate="alarmManagement.ServerAlarm.table.thead.ServerName"></span>
                                    <my-Order query="query" search="search()" order-name='hostName'></my-Order>
                                </th>
                                <th class="align-left"><span translate="alarmManagement.ServerAlarm.table.thead.Type"></span>
                                    <my-Order query="query" search="search()" order-name='neType'></my-Order>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items" class="no-top-border" ng-class="{'table-tr-checked':item.checked}">
                                <td>
                                    <input type="checkbox" ng-model="item.checked" ng-change="selectOne()" />
                                </td>
                                <td class="align-left">{{$index+1}}</td>
                                <!-- <td class="align-left">{{item.id}}</td> -->
                                <td class="align-left">{{item.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td class="align-left">{{item.clearTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td class="align-left">{{item.confirmTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td class="align-left">{{item.msg}}</td>
                                <td class="align-left">{{item.hostIp}}</td>
                                <td class="align-left">{{item.alarmStatus.astAlarmStatusName}}</td>
                                <td class="align-left">{{item.hostName}}</td>
                                <td class="align-left">{{item.neType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>

            </div>
        </div>
    </div>
</div>