<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <h4 class="modal-title" id="myModalLabel" style="color:#333;">{{title}}</h4>
    </div>
    <form name="userForm" class="form-horizontal form-validation" ng-submit="submitForm(userForm.$valid)">
        <div class="modal-body">
            <!-- <div ng-class="{'cantModify':isDisplay==false}"></div> -->
            <div class="form">

                <div class="form-group">
                    <label for="name" class="control-label col-md-3" translate="alarmManagement.ServerStatus.modal.ServerName">ServerName</label>
                    <div class="col-md-6">
                        <input id="hostName" name="hostName" type="text" class="form-control " ng-model="ServerStatus.hostName" ng-blur="isServerStatusExist(ServerStatus.name)" required style="width: 95%;float: left;" ng-maxlength=50 />
                        <span style="color:red;float: left;" ng-show="userForm.hostName.$error.required">*</span>
                        <span style="color:red" class="zz-label" ng-show="userForm.hostName.$dirty && userForm.hostName.$invalid">
                        <span style="color:red;font-size: 12px;" ng-show="userForm.hostName.$error.maxlength" translate="alarmManagement.ServerStatus.modal.maxLenTips"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="neName" class="control-label col-md-3" translate="alarmManagement.ServerStatus.modal.ServerIp">ServerIp</label>
                    <div class="col-md-6">
                        <input id="hostIp" name="hostIp" type="text" class="form-control" ng-model="ServerStatus.hostIp" ng-readonly="isreadonly" required style="width: 95%;float: left;" ng-maxlength="50" ng-pattern="/^(?:(?:1[0-9][0-9]\.)|(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){3}(?:(?:1[0-9][0-9])|(?:2[0-4][0-9])|(?:25[0-5])|(?:[1-9][0-9])|(?:[0-9]))$/"
                        />
                        <span style="color:red;float: left;" ng-show="userForm.hostIp.$error.required">*</span>
                        <span style="color:red" class="zz-label" ng-show="userForm.hostIp.$dirty && userForm.hostIp.$invalid">
                            <!-- <span style="color:red" ng-show="userForm.id.$error.required">Required !</span> -->
                        <span style="color:red;font-size: 12px;" ng-show="userForm.hostIp.$error.maxlength" translate="alarmManagement.ServerStatus.modal.maxLenTips"></span>
                        <span style="color:red;font-size: 12px;" ng-show="userForm.hostIp.$error.pattern" translate="alarmManagement.ServerStatus.modal.IPTips"></span>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok();" ng-disabled="userForm.$invalid" value="{{title}}" ng-show="isDisplay" translate="buttons.Save">Save</button>
            <button type="button" class="btn btn-primary" ng-click="close()" translate="buttons.Close">Close</button>
        </div>
    </form>
</div>