<div class="modal-content">
    <div class="modal-head-new modal-header">
        <button type="button" class="close" ng-click="close()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>        
      </button>
        <h4 class="modal-title" id="myModalLabel">Edite group</h4>
    </div>
    <form ng-submit="editForm()" name="editForm" ng-model="editForm" class="form-validation">
        <div class="modal-body" style="padding-bottom: 5px;">
            <div class="col-md-12 col-lg-12 ">
                <div class="col-md-3 col-lg-3 pad0">
                    <label for="" class="zz-lable-sm float-r mar-t-5">NAME:</label>
                </div>
                <div class="col-md-9 col-lg-9">
                    <input type="text" style="width: 90%;" name="paramsName" class="form-control zz-input float-input wid-90" ng-model="param.groupName" required>
                    <span style="color:red" ng-show="editForm.paramsName.$error.required">*</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mar-t-20">
                <div class="col-md-3 col-lg-3 pad0">
                    <label for="" class="zz-lable-sm float-r mar-t-5">DESCRIPTION:</label>
                </div>
                <div class="col-md-9 col-lg-9">
                    <input type="text" style="width: 90%;" name="description" class="form-control zz-input float-input wid-90" ng-model="param.description" required>
                    <span style="color:red" ng-show="editForm.description.$error.required">*</span>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="editForm.$invalid" type="submit">Save</button>
        <button type="button" class="btn btn-primary" ng-click="close()" type="submit">Close</button>
    </div>
</div>