<div class="modal-content">
    <div class="modal-head-new modal-header">
        <button type="button" class="close" ng-click="close()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
    </div>
    <form ng-submit="myForm()" name="myForm" ng-model="myForm" class="form-validation">
        <!-- <h3 class="with-line">基本信息</h3> -->
        <div class="modal-body" style="padding-bottom: 5px;">
            <div class="form-group">
                <input type="text" class="form-control zz-input float-input" id="1nput01" placeholder="Search by name" ng-model="query.keyword" maxlength="20" />
                <button class="btn btn-green  btn-sm btn-pd" ng-click="search();"><i
                        class="fa fa-search"></i></button>
            </div>
            <div class="col-md-12 col-lg-12 pad0">
                <table class="table table-hover table-bordered-m">
                    <thead>
                        <tr class="black-muted-bg" style="height: 28px;">
                            <!-- <th class="align-left">
                                <input id="flag" type="checkbox" ng-model="xx.select_all" ng-change="selectAll()"></input>
                            </th> -->
                            <th class="align-left">NAME</th>
                            <th class="align-left">DESCRIPTION
                            </th>
                            <th class="align-left">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items" style="height: 28px;">
                            <!-- <td class="align-left" class="no-top-border" ng-class="{'table-tr-checked':item.checked}">
                                <input type="checkbox" ng-model="item.checked" ng-change="selectOne()" />
                            </td> -->
                            <td class="align-left" ng-click="view(item)"><a href="">{{item.teName}}</a></td>
                            <td class="align-left">{{item.teDescribe}}</td>
                            <td class="align-left"><button class="btn  btn-primary btn-raised btn-xs" ng-click="save(item)" title="Comfirm"><span class="glyphicon glyphicon-ok"></span></button></td>
                        </tr>
                    </tbody>
                </table>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary float-l" ng-click="add()" type="submit">Add</button> -->
        <button type="button" class="btn btn-primary" ng-click="close()" type="submit">Close</button>
    </div>
</div>