<div class="widgets">
    <div class="row">
        <div class="col-md-5 col-lg-5 zTreeDemoBackground left tree-bg-b" style="height: 400px;
        overflow: scroll;">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
        <div class="col-md-5 col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Current Module Information</div>
                <div class="panel-body">
                    <form class="bs-example form-horizontal ng-pristine ng-valid">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="name" class="form-control" ng-model="tree.name" readonly="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Code</label>
                            <div class="col-lg-10">
                                <input type="name" class="form-control" ng-model="tree.code" readonly="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">ID</label>
                            <div class="col-lg-10">
                                <input type="ID" class="form-control" ng-model="tree.id" readonly="true" />
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-lg-2 control-label">PID</label>
                            <div class="col-lg-10">
                                <input type="ID" class="form-control" ng-model="tree.pId" readonly="true" />
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Level</label>
                            <div class="col-lg-10">
                                <input type="ID" class="form-control" ng-model="tree.level" readonly="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sort</label>
                            <div class="col-lg-10">
                                <input type="ID" class="form-control" ng-model="tree.sort" readonly="true" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>