<div class="modal-content">
    <div class="modal-head-new modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
        <h4 class="modal-title" id="myModalLabel" translate="About.About">About</h4>
    </div>
    <form ng-submit="myForm()" name="myForm" ng-model="myForm" class="form-validation">
        <!-- <h3 class="with-line">基本信息</h3> -->
        <div class="modal-body" style="padding-bottom: 5px;">
            <h3>Version:{{myVersion}}</h3>
            <div class="clear"></div>

        </div>
    </form>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" ng-click="save()" ng-show="notView" ng-disabled="myForm.$invalid" type="submit">Save</button> -->
        <button type="button" class="btn btn-primary" ng-click="close()" type="submit">Close</button>
    </div>

</div>